@model IDGS902_Tema1.Models.Palabras

@{
    ViewBag.Title = "Diccionario";
}

<h2>Diccionario</h2>

<div class="row">

    <div class="form-horizontal col-6">
        @using (Html.BeginForm())
        {

            <div class="form-group">
                @Html.LabelFor(model => model.palabraIng, "Palabra en Ingles", htmlAttributes:
             new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.palabraIng, new
               {
                   htmlAttributes = new { @class = "form-control" }
               })
                    
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.palabraEsp, "Palabra en Español", htmlAttributes:
             new { @class = "control-label col-md-4" })

                <div class="col-md-10">
                    @Html.EditorFor(model => model.palabraEsp, new
               {
                   htmlAttributes = new { @class = "form-control" }
               })
                   

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <br />
                    <input type="submit" name="name" value="Registrar" class="btn btn-primary text-white" />
                    @Html.ActionLink("Buscar", "BuscarP", "Diccionario", null, new { @class = "btn btn-success" })

                </div>
            </div>

        }
    </div>

    @if (Convert.ToInt16(ViewBag.i) == 1)
    {
        <div class="col-4">
            <table class="table table-light table-bordered">
                <thead>

                    <tr>
                        <th>Español</th>
                        <th>Ingles</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.p)
                    {
                        <tr>
                            <td>@item.Key</td>
                            <td>@item.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            <input type="hidden" name="i" value="1" />
        </div>
    }
    else
    {
        <div class="d-inline-block mt-4">
            @Html.ActionLink("Mostrar Lista", "Diccionario", "Diccionario", new { i = 1 }, new { @class = "btn btn-outline-primary" })
        </div>
        <input type="hidden" name="i" value="0" />


    }


</div>

