@model IDGS902_Tema1.Models.Triangulo

@{
    ViewBag.Title = "Triangulo";
}

<h2>Triangulo</h2>

<div class="row">

    <div class="form-horizontal col-12">
        @using (Html.BeginForm())
        {
            <div class="row">

                <div class="form-group col-4">
                    @Html.LabelFor(model => model.punto1, htmlAttributes:
                 new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.punto1, new
                   {
                       htmlAttributes = new { @class = "form-control" }
                   })

                    </div>
                </div>

                <div class="form-group col-4">
                    @Html.LabelFor(model => model.punto2, htmlAttributes:
                 new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.punto2, new
                   {
                       htmlAttributes = new { @class = "form-control" }
                   })

                    </div>
                </div>

                <div class="form-group col-4">
                    @Html.LabelFor(model => model.punto3, htmlAttributes:
                 new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.punto3, new
                   {
                       htmlAttributes = new { @class = "form-control" }
                   })

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <br />
                        <input type="submit" name="name" value="Calcular" class="btn btn-primary text-white" />

                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-4">
        <h2>
            @ViewBag.Triangulo<br />
            @ViewBag.Tipo<br />
            @ViewBag.Area <br />
        </h2>
    </div>
</div>
